table {
  margin: 0 auto;
  width: 75%;
  border-collapse: collapse;
  margin-top: 20px;
}

td, th {
  padding: 10px;
  text-align: left;
  border: 1px solid var(--border-color);
}

th {
  background-color: var(--menu-bg-color);
  color: var(--title-color);
}

tr:hover {
  background-color: var(--background-color);
}

.category-icon {
  height: 65px;
  width: 65px;
}

.delete-category{
    cursor: pointer;
    height: 50px;
  }
  .edit-category{
    cursor: pointer;
    height: 50px;
  }
  .delete-ligth:hover{
    content: url('../assets/light/deleteHover.png');
  }
  .edit-ligth:hover{
    content: url('../assets/light/libroHover.png');
  }
  .delete-dark:hover{
    content: url('../assets/dark/deleteHover.png');
  }
  .edit-dark:hover{
    content: url('../assets/dark/libroHover.png');
  }