.posit {
    margin: 0 auto;
    width: 60%;
    background-color: #ffd700;
    color: #2c2d30;
    display: flex;
    box-shadow: 50px 50px 25px rgba(0, 0, 0, 0.5);
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .paste {
    animation: animacionReduce 7s ease forwards;
  }

  .number {
    font-family: Title;
    font-size: 500%;
  }

  .info {
    font-size: 300%;
  }

  .typing-animation {
    overflow: hidden;
    white-space: nowrap;
    animation: typing 2s steps(25) forwards;
    text-align: center;
  }

  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }

  @keyframes animacionReduce {
    from {
      transform: scale(1);
      box-shadow: 50px 50px 25px rgba(0, 0, 0, 0.5);
    }
    to {
      transform: scale(0.6);
      box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.3);
    }
  }