.control {
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
  }
  
  .filter {
    width: 20%;
    padding: 8px;
    border-radius: 10px;
    margin-bottom: 12px;
  }
  
  .bt-complete{
    display: flex;
    justify-content: space-around;
  }

  .tasks {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .task {
    flex-basis: calc(25% - 10px);
    box-sizing: border-box;
    height: 200px;
    background-color: darkgoldenrod;
  }
  