nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 95px;
  margin-bottom: 2.5%;
}

.icon {
  height: 90%;
  cursor: pointer;
}

.title {
  font-size: 250%;
  font-family: Title;
  color: var(--title-color);
  text-shadow: 4px 4px 1px var(--shadow-color);
}

.user {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 15%;
}

.userIcon {
  height: 75%;
  cursor: pointer;
}

@media screen and (max-width: 800px) {
  .title {
    font-size: 200%;
  }

  .user {
    width: 25%;
  }

  .userIcon {
    height: 50%;
  }
}

@media screen and (max-width: 600px) {
  .title {
    font-size: 150%;
  }

  .user {
    width: 35%;
  }

  .userIcon {
    height: 50%;
  }
}
